<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EC Reset Link</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div style="min-width: 300px; max-width: 450px; width: 100%; margin: 80px auto 0; padding: 0 20px 20px">
    <h3 class="text-center" th:if="${showLogin}" style="margin-bottom: 40px;">Reset your password from here</h3>
    <form  th:if="${showLogin}"  method="post" action="../verifyResetPassword" id="changePassword">
    <input type="hidden" name="token" value="" th:value="${token}"/>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" name="password" class="form-control" id="pwd" min="6" max="15" required>
    </div>
    <div class="form-group">
        <label for="cpwd">Confirm Password:</label>
        <input type="password" name="confirm-password" class="form-control" id="cpwd" required>
    </div>
    <button type="submit" class="btn btn-default pull-right">Submit</button>
    <div class="clearfix"></div>
    </form>
    <h3 class="text-center"  th:if="${showThankYou}" >Your password has been changed.please try login with new password.</h3>

    <h3 class="text-center" th:if="${showError}">Link is expired or invalid</h3>
</div>

<script>
    $('#changePassword').submit(function (){
        if(!$("#pwd").val()){
            alert("password is required");
            return false;
        }
        if($("#pwd").val().length < 6 || $("#pwd").val().length > 15){
            alert("min 6 and max 15 character required");
            return false;
        }
        if(!$("#cpwd").val()){
            alert("confirm password is required");
            return false;
        }
        if($("#pwd").val() != $("#cpwd").val()){
            alert("password is not matching with confirm password");
            return false;
        }

        return true;
    })
</script>

</body>
</html>